CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_hiwifi_hc5962=y
# CONFIG_BATMAN_ADV_BATMAN_V=y
# CONFIG_BATMAN_ADV_BLA=y
# CONFIG_BATMAN_ADV_DAT=y
# CONFIG_BATMAN_ADV_MCAST=y
# CONFIG_LIBCURL_COOKIES=y
# CONFIG_LIBCURL_FILE=y
# CONFIG_LIBCURL_FTP=y
# CONFIG_LIBCURL_HTTP=y
# CONFIG_LIBCURL_NO_SMB="!"
# CONFIG_LIBCURL_OPENSSL=y
# CONFIG_LIBCURL_PROXY=y
# CONFIG_NODEJS_12=y
# CONFIG_NODEJS_ICU_NONE=y
#
# CONFIG_DOCKER_KERNEL_OPTIONS is not set
CONFIG_KERNEL_CC_STACKPROTECTOR_NONE=y
# CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR is not set
# CONFIG_KERNEL_CGROUPS is not set
# CONFIG_KERNEL_NAMESPACES is not set
# CONFIG_KERNEL_STACKPROTECTOR is not set
CONFIG_LUCI_SRCDIET=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_luci-app-socat=y
CONFIG_PACKAGE_nft-qos=y
CONFIG_PACKAGE_bash=y
# CONFIG_PACKAGE_luci-i18n-nft-qos-zh-cn=n
CONFIG_PACKAGE_luci-app-autoreboot=y
# CONFIG_PACKAGE_luci-app-mwan3=n
# CONFIG_PACKAGE_luci-app-mwan3_INCLUDE_mwan3=n
# CONFIG_PACKAGE_luci-app-syncdial=n
# CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_luci-app-adguardhome=n
# CONFIG_PACKAGE_luci-app-aria2=y
# CONFIG_PACKAGE_luci-app-hd-idle=n
# CONFIG_PACKAGE_luci-app-kodexplorer=n
# CONFIG_PACKAGE_luci-app-smartdns=n
CONFIG_PACKAGE_luci-app-ttyd=n
# CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-zerotier=y
# CONFIG_PACKAGE_luci-theme-argon-dark-mod=n
# CONFIG_PACKAGE_luci-theme-argon-light-mod=n
# CONFIG_PACKAGE_luci-app-socat=n
CONFIG_PKG_CC_STACKPROTECTOR_NONE=y
# CONFIG_PKG_FORTIFY_SOURCE_1 is not set
CONFIG_PKG_FORTIFY_SOURCE_NONE=y
# CONFIG_PKG_RELRO_FULL is not set
CONFIG_PKG_RELRO_NONE=y
# CONFIG_SIGNATURE_CHECK is not set
# CONFIG_SIGNED_PACKAGES is not set
# CONFIG_UnblockNeteaseMusic_Go=y
# CONFIG_KERNEL_ELF_CORE is not set
# CONFIG_PKG_CHECK_FORMAT_SECURITY is not set

# CONFIG_KERNEL_SECCOMP is not set
CONFIG_PKG_ASLR_PIE_NONE=y
# CONFIG_PKG_ASLR_PIE_REGULAR is not set
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_microsocks=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_dns2socks=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ipt2socks=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ssocks=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Socks5=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Socks5_Proxy=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Socks_Server=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_shadowsocksr-libev=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks-rust=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Server=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Server=n
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan-Go=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_https_dns_proxy=y
CONFIG_PACKAGE_haproxy=y

# DNSfilter广告过滤
CONFIG_DEFAULT_dnsmasq=n
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_tftp=y
CONFIG_PACKAGE_luci-app-dnsfilter=y
# DDNS
CONFIG_PACKAGE_naiveproxy=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts-cloudflare=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts-services=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts_aliyun=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts_dnspod=n

CONFIG_DEFAULT_naiveproxy=n
CONFIG_DEFAULT_luci-app-ddns=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts-cloudflare=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts-services=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts_aliyun=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts_dnspod=n

# ByPass
# CONFIG_PACKAGE_luci-app-bypass=y
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Shadowsocks is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_ShadowsocksR is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Shadowsocks_Server is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_ShadowsocksR_Server is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Simple_obfs is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_V2ray_plugin is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Xray=y
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Trojan is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Trojan-Go is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_NaiveProxy is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Kcptun is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Socks5_Proxy is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Socks_Server is not set
